<div class="header-con">
  <div class="container">
   <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
     <div class="handcard">					
     </div>
     <div class="phonetop">					
     </div>
   </div>
   <div class="col-lg-8 col-md-8 col-sm-7 col-md-offset-0 col-sm-offset-1">
     <div class="head-title">
      <h1>Play the state lottery Online<br/>And Pay With Unwanted Gif Card balances</h1>
    </div>
    <br/>
    <br/>
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
      <h3>Subscribe to our beta version:</h3>
      <%= form_for @subscription, as: :subscription, url: subscriptions_path, remote: true, authenticity_token: true do |f| %>
      <div class="">
        <%= f.text_field :email, class: 'input-email', placeholder: 'E-mail address' %>
        <%= f.button "sign up", class: 'btn-email', data: {disable_with: 'submit...'} %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
<div class="triangle1">
  <div class="container">&nbsp </div>
</div>
</div>
<div class=""></div>
<div class="content">
 <div class="container">
  <div class="row">
   <div class="col-lg-4 col-md-4 col-sm-4 text-center">
    <div class="powerball"></div>
    <div class="tContent2">
     <b>JackPot: <%= lottery_amounts[:powerball][:amount] %></b>
     <p>NextDraw: <%= lottery_amounts[:powerball][:date] %></p>
     <p class="countdown-powerball" data-date="<%= powerball_jackpot %>">-</p>
   </div>
 </div>
 <div class="col-lg-4 col-md-4 col-sm-4 text-center">
  <div class="floridalotto text-center"></div>
  <div class="tContent2">
   <b>JackPot: <%= lottery_amounts[:lotto][:amount] %></b>
   <p>NextDraw: <%= lottery_amounts[:lotto][:date] %></p>
   <p class="countdown-lotto" data-date="<%= lotto_jackpot %>">-</p>
   <br/>
 </div>				
</div>
<div class="col-lg-4 col-md-4 col-sm-4 text-center">		
  <div class="megamillions text-center"></div>
  <div class="tContent2">
   <b>JackPot: <%= lottery_amounts[:megaMillions][:amount] %></b>
   <p>NextDraw: <%= lottery_amounts[:megaMillions][:date] %></p>
   <p class="countdown-mega" data-date="<%= mega_jackpot%>">-</p>
 </div>				
</div>
<div class="more-lotery col-md-12 text-center"><p>+ 3 Other Lotteries</p></div>
</div>
</div>
</div>

<div class="c-how">
 <div class="container">
  ,<div class="row">
  <div class="col-md-12 text-center"><h1>How it works</h1></div>

  <div class="col-lg-3 col-md-3 col-sm-3 steps col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
   <%= image_tag("step-1.png", width: '178', height: '176') %>
   <div class="">
    <h3>1. Choose</h3>
    <p>Select a game and your lucky<br/>
     nombers to play the lotteries<br/>
     you know and love<br/></p>
   </div>
 </div>
 <div class="step-arrow hidden-xs">
 </div>
 <div class="col-lg-3 col-md-3 col-sm-3 steps">
  <%= image_tag('step-2.png', width: '178', height: '176') %>
  <div class="">
   <h3>2. Trade-in</h3>
   <p>Turn gift cards into USD credit<br/>
    to pay for your oficial lottery<br/>
    tickets<br/></p>
  </div>
</div>
<div class="step-arrow hidden-xs">
</div>
<div class="col-lg-3 col-md-3 col-sm-3 steps">
 <%= image_tag('step-3.png', width: '178', height: '176') %>
 <div class="">
  <h3>3. Play</h3>
  <p>Your oficial lottery ticket will<br/>
   be scanned and uploaded to<br/>
   your account before each<br/>
   draw. 100% of the rpize money<br/>
   will then be credited to your<br/>
   account when you win <br/></p>
 </div>
</div>

</div>
</div>
</div>
<div class="triangle2">
 <div class="container">&nbsp </div>
</div>
<div class="c-easy">
 <div class="container">
  <div class="row ">
   <div class="col-md-12 text-center"><h1>Easy, Safe & Convenient</h1></div>
   <div class="col-md-6">
    <%= image_tag('object-3.png', class: 'img-responsive') %>
  </div>
  <div class="col-md-6">					
    <div class="c-easy-mar">
     <p class="c-easy-t1">

      <!-- GiftForWin acts as a free courier service between you and official lottery retailers. Our official messengers will buy the lottery tickets on your  behalf  through licensed retailers.

      Our service is brought to you by INSTABUYBACK LLC, a trade-in company that makes money when it changes your gift card balance into U.S. dollars. Lottery winners keep their winnings. INSTABUYBACK LLC does not retain a portion of any winnings.
       -->
      GiftForWin acts as a free courier service<br/>
      between you and official lottery retailers.<br/>
      Our official messengers will buy the lotery<br/>
      tickets on your behalf though livensed retailers.<br/>
      <br/>
      Our service is brought to you by<br/>
      INSTABUYBACK LLC, a trade-in company that<br/>
      makes money when it changes your gif card<br/>
      balance into U.S. dollars<br/>
    </p>
    <br/>
    <br/>
    <p class="c-easy-t2">Most major Gift Cards and e-Gift Cards accepted:</p>
    <div class="">
      <%= image_tag('amazon.png', width: '78', height: '51') %>
      <%= image_tag('walmart.png', width: '78', height: '51') %>
      <%= image_tag('oldnavy.png', width: '78', height: '51') %>
      <br/>
      <%= image_tag('target.png', width: '78', height: '51') %>
      <%= image_tag('ebay.png', width: '78', height: '51') %>
      <!-- <#%= image_tag('brand.png', width: '78', height: '51') %> -->
      <%= link_to "#" do %>
      <span class="brand c-easy-t2">+100 brands</span>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
</div>

<div class="c-where">
 <div class="container">
  <div class="row text-center">
   <div class="col-md-12 text-center"><h1>Where can you play?</h1><h4>We use GPS technology to ensure you are in a state we support</h4></div>
   <div class="col-md-4"> 
    <%= image_tag('florida.png', width: '201', height: '201') %>
    <div class="">
     <h3>Florida</h3>
     <p>6 Games Supported</p>
   </div>
 </div>
 <div class="col-md-4"> 
  <%= image_tag('newyork.png', width: '201', height: '201') %>
  <div class="">
   <h3>New York</h3>
   <p>Coming soon</p>
 </div>
</div>
<div class="col-md-4"> 
  <%= image_tag('california.png', width: '201', height: '201') %>
  <div class="">
   <h3>California</h3>
   <p>Coming soon</p>
 </div>
</div>
</div>
</div>
</div>
<div class="footer-play">
 <div class="container">
  <div class="row">
   <div class="col-lg-4 col-md-4"><h1>Ready to play?</h1></div>
   <div class="col-lg-8 col-md-8">
    <h4>Subscribe to the our beta version to start winning:</h4>
    <%= form_for @subscription, as: :subscription, url: subscriptions_path, remote: true, authenticity_token: true do |f| %>
    <div class="">
      <%= f.text_field :email, class: 'input-email', placeholder: 'E-mail address' %>
      <%= f.button "sign up", class: 'btn-email', data: {disable_with: 'submit...'} %>
    </div>
    <% end %>
  </div>
</div>
</div>
</div>